<div class="test-temp">
  <h3 class="text-center">{{name}}</h3>
  <div class="progress">
    <div class="progress-bar" role="progress-bar" valuemax="100" aria-valuenow="{{health}}" aria-valuemin="0" style="width: {{health}}%;">
    </div>
  </div>
  <div class="">
    <img class="picky" src="{{image}}" alt="{{name}}" />
  </div>
</div>
